.bg{
    background-image: url(../media/fondo.jpg);
}

#carrito{
    background-color: rgba(102, 103, 103, 0.778);
    width: 30vw;
    position:absolute;
    top: 15;
    right: 0;
    z-index: 1;
}

.tituloCarrito{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-family: "Segoe IU", sans-serif;
    font-weight: 700;
}


.saludo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.carro{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
    font-weight: 500;
}